@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#06062B;
  --secondary-color:#020F43;
  --ternary-color:#1943ac58;
  --gradient-1:linear-gradient(90deg, #01DAFE 0%, #CFEBFF 100%);
  --gradient-2:linear-gradient(270deg, rgba(1, 218, 254, 0.30) 0%, rgba(247, 37, 133, 0.30) 100%, rgba(247, 37, 133, 0.30) 100%);
  --gradient-3: linear-gradient(0deg, rgba(1, 218, 254, 0.30) 0%, rgba(1, 218, 254, 0.00) 100%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  color: white;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

  form {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 4rem;
  }

  form input {
    padding: 1rem 1.5rem;
    width: 100%;
    margin-right: 1rem;
    background: var(--gradient-2);

    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }

  form input:focus{
    background-color: var(--ternary-color);
    border: none;
    outline: none;
  }
  
  .todos-container{
    width: 80%;
    padding: 0 2rem;
    height: 70%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .todos-container::-webkit-scrollbar {
    display: none;
  }
  

  .todos-container input {
    padding: 1rem 1.5rem;
    width: 50%;
    background:var(--gradient-2);
    border: none;
    color: white;
    border-radius: 10px;
    
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

  }

  .todos-container input:focus{
    border: none;
    outline: none;
    background-color: var(--ternary-color);
  }

  .todos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    background: var(--gradient-3);
    border-radius: 15px;
    padding: 2rem 1rem; 
  }

  .todo-text{
   
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    overflow:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.todo-text::-webkit-scrollbar {
    display: none;
  }
  
  button {
    font-size: 16px;
    background: var(--gradient-1);

    color: var(--primary-color);
    border-radius: 8px;
    border: none;
   
    cursor: pointer;
  }


  button:hover {
    background: #01DAFE;
  }
  
  .check-button{
    display: flex;
    align-items: center;
  }

  .todo-options{
    display: flex;
  }
  
  .todo-options button {
    margin: 0.5rem 1rem 0.5rem 0;
    padding: 0.5rem 1rem;
  }
  

  .completed {
    text-decoration: line-through;
    color: #CFEBFF;
    font-weight: 100;
  }
  
  @media screen and (max-width: 6540px){
    .todos-container{
      width: 100%;
      padding: 0 2rem;
    }
  
  }

  